* {color: #222;}
html,body {margin: 0; padding: 0;}
#app {position: absolute;}
.neighborhoods-card {
  background: #fff;
  max-width: 300px;
  width: 300px;
  margin: 20px;
  font-family: sans-serif;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.neighborhoods-cardTitle > h3 {
  margin: 0;
  /*padding-bottom: 20px;*/
  font-size: 16px;
}
.neighborhoods-cardTitle > p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
  color: #666;
}
.neighborhoods-cardTitle > label {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 12px;
  color: #0b44a2;
  display: inline-block;
}
.neighborhoods-cardTitle > small {
  margin-top: -3px;
  margin-bottom: 5px;
  font-size: 11px;
  color: #666;
}
.neighborhoods-nearbyWrapper {
  overflow: scroll;
  max-height: 200px;
  background: #eee;
  border-radius: 0 0 6px 6px;
}
.neighborhoods-nearby > p {
  padding-left: 20px;
  margin-top: 10px;
  /*margin-bottom: 20px;*/
  font-size: 12px;
}
.neighborhoods-cardTitle {
  box-shadow: 0 1 1px rgba(0,0,0,.1);
  padding-left: 20px;
  padding-top: 20px;
}
.neighborhoods-nearby:last-child > p {
  margin-bottom: 10px;
}
.overlays > div,
.overlays > svg {
  pointer-events: all !important;
}
.overlays > div {
  width: auto !important;
  height: auto !important;
}
.neighborhood-path {
  fill: rgba(15,169,161,.3);
  stroke: rgb(15,169,161);
  stroke-width: 1px;
}
.neighborhood-path:hover {
  fill: rgba(15,169,161,.5);
}
.neighborhood-path.is-active {
  fill: rgba(254,72,21,.3);
  stroke: rgb(254,72,21);
  stroke-width: 1px;
}
